[Desktop Entry]
Name=alle_devices
Comment=connect all devices with scrcpy
Exec=/path/of/your/file/all_devices_scrpy.sh
Icon=/path/to/your/icon
Terminal=false
Type=Application
